.button {
  padding: 8px 15px;
  border-width: 1px;
  border-style: solid;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: all 1s ease;
  display: block;
  text-decoration: none;
  text-align: center;
}
