.button {
  height: 40px;
  border: none;
  background-color: #0025FF;
  color: #f4f3ff;
  border-radius: 5px;
  cursor: pointer;
  transition: all 1s ease;
  display: block;
  text-decoration: none;
  text-align: center;
  font-family: inherit;
}
